<!-- index.html -->
{% extends 'layouts/index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<div class="container">
    <div class="row">
        <div class="col-12">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="" class="profile-img">
            {% else %}
                <img src="{% static 'avatar.png' %}" alt="" class="profile-img">
            {% endif %}
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h1>Имя пользователя: {{ user.username }}</h1>
            <p>Адрес электронной почты: {{ user.email }}</p>
            <p>Дата создания: {{ user.date_joined }}</p>
            <form action="/logout/" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
            
            <div style="margin-top: 10px;"></div>
            
            <a href="/profile_update/">
                <button type="submit" class="logout-btn">Обновить</button>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in user.user_products.all %}
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} С</p>
            <h2>Отзывы:</h2>
            {% if product.reviews.all %}
            <ul>
                {% for review in product.reviews.all %}
                <img src="{{ review.user.profile.avatar.url }}" alt="artyom-akopyan_huyoVKY" class="comment__avatar" width="24">
                <span class="comment__username text-truncate">{{ review.user.username }}</span>
                <p>{{ review.text }}</p>
                <p><strong>Дата создания:</strong> {{ review.created_at }}</p>
                {% endfor %}
            </ul>
            {% else %}
            <p>Нет отзывов.</p>
            {% endif %}
            <a href="/products/{{ product.id }}/edit_product/">
                <button type="submit" class="logout-btn">Обновить</button>
            </a>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
